html {
  height: 100%;
}

body {
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(233, 233, 233);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: white;
  text-decoration: none;
}

.myLinkButton {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(41, 70, 113);
  color: rgb(255, 255, 255);
  margin: 3px;
}

.myLinkButton:hover {
  background-color: rgb(33, 57, 92);
  color: rgb(255, 255, 255)
}

.postItemLink {
  color: rgb(0, 0, 179);
}

.postItemLink:hover {
  color: rgb(0, 0, 179);
}
