body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: white;
  text-decoration: none;
}

.lk__content {
  display: flex;
  margin-bottom: 40px;
}

.lk__content a {
  color: #0d6efd;
}

.lk__photo {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  width: 135px;
  height: 135px;
  background: url('https://www.ucheba.ru/img/userpic-empty-big.png') no-repeat;
}

.footer {
  color: white;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 170px;
  padding: 0 55px;
}

.footer img {
  margin: 0 8px;
}

.courses__info {
  padding: 0 55px;  
}

.drop-area {
  border: 2px dashed black;
  border-radius: 50%;
  width: 135px;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
}
