.headerLinkButton {
  padding: 10px;
  border-radius: 10px;
  margin-right: 30px;
  background-color: rgb(33, 57, 92);
}

.headerLinkButton:hover {
  background-color: rgb(26, 43, 70);
  color: white
}

.navbar{
  height: 80px;
}

.css-1j8o68f{
  margin-left: 30px;
}

.logoImg{
  width: 56px;
  border-radius: 50%;
  margin-right: 30px;
}

.bg-my-primary {
  background-color: rgb(41, 70, 113);
}
